@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@font-face {
  font-family: "Norse-Bold";
  src: url(./fonts/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  height: 100%;
  line-height: 1.5;
  font-family: "Open Sans";
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  color: hsl(192, 12%, 25%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.sign-up-image {
  background-image: url(./img/david-billings-__I-gX-cnd8-unsplash.jpg);
  background-size: cover;
  flex: 2;
  min-width: 350px;
  min-height: 600px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.logo {
  margin-top: 200px;
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 0%, 0.5);
}

.logo img {
  width: 125px;
}

.logo h1 {
  color: white;
  font-family: "Norse-Bold";
  font-size: 5rem;
}

.image-author {
  position: absolute;
  color: hsl(190, 10%, 85%);
  bottom: 0;
  right: 10px;
}

.image-author a {
  color: hsl(32, 87%, 58%);
  text-decoration: none;
}

.image-author a:hover {
  color: hsl(32, 87%, 48%);
}

.sign-up-form {
  background-color: hsl(192, 12%, 25%);
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-up-form > * {
  padding: 3rem;
}

.form-header {
  max-width: max(80%, 55rem);
  font-weight: 700;
  font-size: 1.5rem;
}
.form-header > p {
  color: hsl(190, 10%, 85%);
}

.form-header > p:nth-child(3) {
  padding-top: 20px;
}

.form-fields {
  background-color: hsl(220, 6%, 90%);
}

.form-fields > p {
  color: hsl(0, 0%, 0%, 0.5);
  font-size: 14px;
}

#form-inputs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  column-gap: 100px;
  row-gap: 30px;
}

#form-inputs label {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(0, 0%, 0%, 0.5);
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 250px;
  position: relative;
}

input {
  padding: 6px;
  border: 1px solid hsl(220, 6%, 80%);
  border-radius: 3px;
  background-color: hsl(210, 20%, 98%);
}

input:focus {
  box-shadow: 2px 2px 5px hsl(220, 6%, 60%);
  border: 1px solid rgb(0, 183, 255);
  outline: none;
}

input:valid:focus {
  border: 1px solid rgb(0, 183, 255);
}

input:invalid:focus {
  border: 1px solid rgb(255, 69, 100);
}

input[required] + .input-error::after {
  content: "";
  opacity: 0;
  position: absolute;
}

input[required]:invalid:focus + .input-error::after {
  color: red;
  font-size: 0.8rem;
  transition: opacity ease-in-out 0.3s;
  opacity: 1;
}

input[type="email"]:invalid:focus + .input-error::after {
  content: "Email must meet requirements";
}

input[type="tel"]:invalid:focus + .input-error::after {
  content: "Phone number must meet requirements";
}

input[type="password"]:invalid:focus + .input-error::after {
  content: "Password must meet requirements";
}

.form-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.2rem;
}

.form-btn p {
  color: hsl(190, 10%, 85%);
}

button[type="submit"] {
  align-self: flex-start;
  padding: 0.8em 2.5em;
  background-color: hsl(32, 87%, 58%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: hsl(192, 12%, 25%);
  font-size: 1.2rem;
  font-weight: 700;
}

button[type="submit"]:hover {
  background-color: hsl(32, 87%, 48%);
}

.login-link {
  text-decoration: none;
  color: hsl(32, 87%, 58%);
  font-weight: 700;
}

.login-link:hover {
  color: hsl(32, 87%, 48%);
}
